{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}
<form method="">
    <input type
</form>
<a href="{{asset('uploads/php3778.tmp.xlsx')}}" download="fichier_down.xlsx">download</a>
{% endblock %}
